body,header{ font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
.about{
margin: 20px;
font-family: Arial, sans-serif;
line-height: 2.0;
color: #1a1919;
background-color: #f6f5f5;
padding: 18px;
border-radius: 8px;

float: left;

}

.fotos{
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-radius:10px;


}
.fotos img{
    height:210px;
    border:5px dotted pink#3e1edd;
    border-left: 5px dotted pink;
    border-right: 5px solid pink

}

.fotos img:hover{
    opacity: 0.9;
}
